{
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"jest"
	],
	"env": {
		"jest/globals": true
	},
	"rules": {
		"indent": ["tab", "error"]
	},
	"ignorePatterns": "dist"
}